<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" connectionString="Server=(localdb)\v11.0;Database=IdentityTest;Integrated Security=true;Trusted_Connection=True;" providerName="System.Data.SqlClient" />

      <!--<add name="Simple.Data.SqlTest.Properties.Settings.ConnectionString" connectionString="Server=(localdb)\v11.0; Initial Catalog=IdentityTest;Trusted_Connection=True;persist security info=False;integrated security=SSPI;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
